# 데이터 불러오고 기본적인 분석 하기

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
test = pd.read_csv('satisfaction_test.csv')
train = pd.read_csv('satisfaction_train.csv')

In [3]:
train.head()

,Unnamed: 0,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,105527,Female,Loyal Customer,39,Business travel,Business,2725,5,5,2,...,4,4,4,4,4,4,4,73,65.0,satisfied
1,82617,Female,Loyal Customer,27,Business travel,Business,1634,3,3,3,...,3,3,4,4,2,3,3,39,37.0,dissatisfied
2,34069,Female,Loyal Customer,21,Personal Travel,Eco Plus,1341,4,4,0,...,1,4,1,3,5,4,1,0,0.0,satisfied
3,18636,Male,Loyal Customer,64,Personal Travel,Eco Plus,3794,2,5,2,...,5,3,3,5,1,4,1,570,567.0,dissatisfied
4,28693,Female,Loyal Customer,69,Personal Travel,Eco,1237,5,5,5,...,5,5,5,5,3,5,4,69,72.0,satisfied

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51794 entries, 0 to 51793
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         51794 non-null  int64
 1   Gender                             51794 non-null  object
 2   Customer Type                      51794 non-null  object
 3   Age                                51794 non-null  int64
 4   Type of Travel                     51794 non-null  object
 5   Class                              51794 non-null  object
 6   Flight Distance                    51794 non-null  int64
 7   Seat comfort                       51794 non-null  int64
 8   Departure/Arrival time convenient  51794 non-null  int64
 9   Food and drink                     51794 non-null  int64
 10  Gate location                      51794 non-null  int64
 11  Inflight wifi service              51794 non-null  int64
 12  Inflight entertainment             51794 non-null  int64
 13  Online support                     51794 non-null  int64
 14  Ease of Online booking             51794 non-null  int64
 15  On-board service                   51794 non-null  int64
 16  Leg room service                   51794 non-null  int64
 17  Baggage handling                   51794 non-null  int64
 18  Checkin service                    51794 non-null  int64
 19  Cleanliness                        51794 non-null  int64
 20  Online boarding                    51794 non-null  int64
 21  Departure Delay in Minutes         51794 non-null  int64
 22  Arrival Delay in Minutes           51794 non-null  float64
 23  satisfaction                       51794 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 9.5+ MB

In [5]:
train.describe()

,Unnamed: 0,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
count,51794.000000,51794.000000,51794.000000,51794.000000,51794.000000,51794.000000,51794.000000,51794.000000,51794.000000,51794.000000,51794.000000,51794.000000,51794.000000,51794.000000,51794.000000,51794.000000,51794.00000,51794.000000,51794.000000
mean,64889.359462,39.476696,1982.460787,2.838302,2.989864,2.850137,2.985153,3.240549,3.384214,3.517531,3.465208,3.465382,3.484844,3.693034,3.341719,3.703865,3.34614,14.332606,14.760339
std,37395.800829,15.061524,1025.159270,1.388760,1.523256,1.439965,1.302518,1.316557,1.343171,1.304495,1.305777,1.269646,1.291196,1.155379,1.260248,1.152429,1.29917,37.721805,38.275159
min,0.000000,7.000000,50.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,32583.500000,27.000000,1360.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,2.00000,0.000000,0.000000
50%,64819.500000,40.000000,1929.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.00000,0.000000,0.000000
75%,97304.750000,51.000000,2543.750000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,4.00000,12.000000,13.000000
max,129878.000000,85.000000,6948.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,1592.000000,1584.000000

# 범주형 데이터를 get_dummies()를 통해 가변수로 만들기

In [6]:
# 변환 대상 가변수는 gender, customer type, type of travel, class

Gender_train = pd.get_dummies(train['Gender'])
Customer_Type_train = pd.get_dummies(train['Customer Type'])
Type_of_Travel_train = pd.get_dummies(train['Type of Travel'])
Class_train = pd.get_dummies(train['Class'])

Gender_test = pd.get_dummies(test['Gender'])
Customer_Type_test = pd.get_dummies(test['Customer Type'])
Type_of_Travel_test = pd.get_dummies(test['Type of Travel'])
Class_test = pd.get_dummies(test['Class'])

In [7]:
train_label = train['satisfaction']
train_dummy_mat = train.drop(['satisfaction','Gender','Customer Type','Type of Travel','Class','Unnamed: 0'], axis = 1)

test_label = test['satisfaction']
test_dummy_mat = test.drop(['satisfaction','Gender','Customer Type','Type of Travel','Class','Unnamed: 0'], axis = 1)

In [8]:
train_dummy_featured = pd.concat([train_dummy_mat, Gender_train, Customer_Type_train, Type_of_Travel_train, Class_train ],axis = 1)

test_dummy_featured = pd.concat([test_dummy_mat, Gender_test, Customer_Type_test, Type_of_Travel_test, Class_test ],axis = 1)

In [9]:
train_dummy_featured.head()

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,...,Arrival Delay in Minutes,Female,Male,Loyal Customer,disloyal Customer,Business travel,Personal Travel,Business,Eco,Eco Plus
0,39,2725,5,5,2,5,4,4,5,4,...,65.0,1,0,1,0,1,0,1,0,0
1,27,1634,3,3,3,3,3,3,3,3,...,37.0,1,0,1,0,1,0,1,0,0
2,21,1341,4,4,0,1,1,0,1,1,...,0.0,1,0,1,0,0,1,0,0,1
3,64,3794,2,5,2,4,2,1,1,5,...,567.0,0,1,1,0,0,1,0,0,1
4,69,1237,5,5,5,5,4,5,5,5,...,72.0,1,0,1,0,0,1,0,1,0

# 로지스틱 회귀

로지스틱 회귀만 적용해서 정답률을 확인해보자

In [10]:
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()

In [11]:
train_dummy_featured = scaler.fit_transform(train_dummy_featured)
test_dummy_featured = scaler.transform(test_dummy_featured)

In [12]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(train_dummy_featured, train_label)

LogisticRegression()

In [13]:
print('train acc :%.2f'%model.score(train_dummy_featured, train_label))
print('test acc :%.2f'%model.score(test_dummy_featured, test_label))

train acc :0.83
test acc :0.84

In [14]:
model.coef_

array([[-0.11968277, -0.10861566,  0.39619824, -0.31598761, -0.31458282,
         0.16256787, -0.10199619,  0.92704786,  0.1225571 ,  0.2775299 ,
         0.35834732,  0.29767369,  0.11997854,  0.37493028,  0.11171425,
         0.22448189,  0.07598459, -0.27612082,  0.23469669, -0.23469669,
         0.37261519, -0.37261519,  0.17542229, -0.17542229,  0.20875644,
        -0.15498849, -0.10456164]])

## 선형대수적으로 종속관계에 해당하는 범주들을 제거해보자

In [15]:
train_dummy_featured = pd.concat([train_dummy_mat, Gender_train, Customer_Type_train, Type_of_Travel_train, Class_train ],axis = 1)

test_dummy_featured = pd.concat([test_dummy_mat, Gender_test, Customer_Type_test, Type_of_Travel_test, Class_test ],axis = 1)

In [16]:
train_dummy_independent = train_dummy_featured.drop(['Male', 'disloyal Customer', 'Personal Travel', 'Eco Plus'],axis = 1)

test_dummy_independent = test_dummy_featured.drop(['Male', 'disloyal Customer', 'Personal Travel', 'Eco Plus'],axis = 1)

In [17]:
train_dummy_independent = scaler.fit_transform(train_dummy_independent)

test_dummy_independent = scaler.transform(test_dummy_independent)

In [18]:
model2 = LogisticRegression()
model2.fit(train_dummy_independent, train_label)

LogisticRegression()

In [19]:
print('train acc :%.2f'%model2.score(train_dummy_independent, train_label))
print('test acc :%.2f'%model2.score(test_dummy_independent, test_label))

train acc :0.83
test acc :0.84

In [20]:
model2.coef_

array([[-0.11964471, -0.10859281,  0.39620579, -0.31596193, -0.31464159,
         0.16259427, -0.10200761,  0.92709365,  0.12253675,  0.27761742,
         0.35829212,  0.29767258,  0.11997741,  0.37493055,  0.111692  ,
         0.22439484,  0.07588963, -0.27602877,  0.46935177,  0.74511727,
         0.35075378,  0.40912289,  0.04439178]])

시원찮네

# LDA

In [21]:
print(train_dummy_independent.shape)
print(train_label.shape)

(51794, 23)
(51794,)

In [22]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
LDA_Model = LDA(store_covariance=True, n_components = 1)
Train_independent_LDA = LDA_Model.fit_transform(train_dummy_independent, train_label)
print(Train_independent_LDA.shape)

test_independent_LDA = LDA_Model.fit_transform(test_dummy_independent, test_label)
print(test_independent_LDA.shape)

(51794, 1)
(12949, 1)

In [23]:
model3 = LogisticRegression()
model3.fit(Train_independent_LDA, train_label)

LogisticRegression()

In [24]:
print('train acc :%.2f'%model3.score(Train_independent_LDA, train_label))
print('test acc :%.2f'%model3.score(test_independent_LDA, test_label))

train acc :0.84
test acc :0.84

시원찮다

# Random Forest

In [26]:
from sklearn.ensemble import RandomForestClassifier

In [27]:
#기본 데이터
model4 = RandomForestClassifier(random_state = 42)
model4.fit(train_dummy_featured, train_label)
print('train acc :%.2f'%model4.score(train_dummy_featured, train_label))
print('test acc :%.2f'%model4.score(test_dummy_featured, test_label))

train acc :1.00
test acc :0.96

In [29]:
# 종속변수 제거 데이터
model5 = RandomForestClassifier(random_state = 42)
model5.fit(train_dummy_independent, train_label)
print('train acc :%.2f'%model5.score(train_dummy_independent, train_label))
print('test acc :%.2f'%model5.score(test_dummy_independent, test_label))

train acc :1.00
test acc :0.95

In [30]:
# LDA 데이터
model6 = RandomForestClassifier(random_state = 42)
model6.fit(Train_independent_LDA, train_label)
print('train acc :%.2f'%model6.score(Train_independent_LDA, train_label))
print('test acc :%.2f'%model6.score(test_independent_LDA, test_label))

train acc :1.00
test acc :0.76

피쳐가 줄어드니 랜덤포레스트는 약한 모습을 보였다.

## 종속변수를 내 마음대로 제거했더니 오히려 정확도가 떨어지는 현상을 볼 수 있었다.